# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Makefile output
*.elf
*.hex
*.eep
*.lss
*.sym
*.map
*.lst
.dep/

# AVR files
*.aps
*.aws

# Code:Block temp files
*.cbp
*.layout
*.depend

# Code:Block temp directories
bin/
obj/
